:root {
  --color-base-bg: #faf3e0;
  --color-base-bg-soft: #fffbee;
  --color-base-fg: #2f2d2e;
  --color-base-muted: #f6ebca;
  --color-base-accent: #514e46;
  --color-base-border: #f0e4cc;
  --color-base-ring: #f0c987;
}
