/* 🌞 Light Theme */
:root {
  --color-base-bg: #FAF9EE;        /* warm paper */
  --color-base-fg: #000000;        /* dark coffee text */
  --color-base-fg-hover: #A2AF9B;  /* hover text */
  --color-base-accent: #A2AF9B;    /* warm bronze accent */
    --color-base-border: #e0e0e0;    /* warm bronze accent */

}

/* 🌙 Dark Theme */
:root.dark,
html.dark,
[data-theme="dark"] {
  --color-base-bg: #222831;        /* slate navy background */
  --color-base-fg: #ffffff;        /* light gray text */
  --color-base-fg-hover: #948979;  /* blue hover */
  --color-base-accent: #DFD0B8;    /* bright blue accent */
      --color-base-border: #40454d;    /* warm bronze accent */

}

/* 🌲 Forest Theme */
html.forest,
[data-theme="forest"] {
  --color-base-bg: #5D688A;        /* deep forest green */
  --color-base-fg: #FFF2EF;        /* pale leaf text */
  --color-base-fg-hover: #FFDBB6;  /* minty hover */
  --color-base-accent: #FFDBB6;    /* vibrant green accent */
      --color-base-border: #828dae;    /* warm bronze accent */

}

/* 
color-base-bg
- all backgrounds

color-base-fg
- all text colors

--color-base-fg-hover
- hover text colors on buttons and links

color-base-accent
- border color and hover bg

*/