/* 🌞 Light Theme */
:root {
  --color-base-bg: #FFFFFF;        /* warm paper */
  --color-base-fg: #000000;        /* dark coffee text */
  --color-base-accent: #000000;    /* warm bronze accent */
    --color-base-border: #D2D2D2;    /* warm bronze accent */

}

/* 🌙 Dark Theme */
:root.sky,
html.sky,
[data-theme="sky"] {
  --color-base-bg: #ecf3fb;        /* warm paper */
  --color-base-fg: #18406e;        /* dark coffee text */
  --color-base-accent: #7cabe2;    /* warm bronze accent */
    --color-base-border: #cbddf4;    /* warm bronze accent */
}

/* 🌙 Dark Theme */
:root.dark,
html.dark,
[data-theme="dark"] {
  --color-base-bg: #37353E;        /* slate navy background */
  --color-base-fg: #dfdee3;        /* light gray text */
  --color-base-accent: #aca9b5;    /* bright blue accent */
  --color-base-border: #40454d;    /* warm bronze accent */
}

/* 🌲 Forest Theme */
html.forest,
[data-theme="forest"] {
  --color-base-bg: #17313E;        /* deep forest green */
  --color-base-fg: #aed0e1;        /* pale leaf text */
  --color-base-accent: #418bb0;    /* vibrant green accent */
      --color-base-border: #22485b;    /* warm bronze accent */

}

/* 
color-base-bg
- all backgrounds

color-base-fg
- all text colors

color-base-accent
- border color and hover bg

*/