/* 🌞 Light Theme */
:root {
  --color-base-bg: #ffffff;
  --color-base-fg: #292929;
  --color-base-border: #f0f0f0;

}

/* 🌙 Dark Theme */
:root.sky,
html.sky,
[data-theme="sky"] {
  --color-base-bg: #ecf3fb;
  --color-base-fg: #18406e;
  --color-base-border: #dce9f7;
}

/* 🌙 Dark Theme */
:root.dark,
html.dark,
[data-theme="dark"] {
  --color-base-bg: #242329;
  --color-base-fg: #d5d3da;
  --color-base-border: #403e49;
}

/* 🌲 Forest Theme */
html.forest,
[data-theme="forest"] {
  --color-base-bg: #17313E;
  --color-base-fg: #aed0e1;
  --color-base-border: #22485b;

}

/* 
color-base-bg
- all backgrounds

color-base-fg
- all text colors


*/